```
python -m pip install "dask[complete]"
```

In [2]:
import pandas as pd

In [12]:
from sklearn.datasets import make_classification

for i in range(1, 11):
    print('Generating trainset %d' % i)
    x, y = make_classification(n_samples=100_000, n_features=100)
    df = pd.DataFrame(data=x)
    df['y'] = y
    df.to_csv('trainset_%d.csv' % i, index=False)

Generating trainset 1
Generating trainset 2
Generating trainset 3
Generating trainset 4
Generating trainset 5
Generating trainset 6
Generating trainset 7
Generating trainset 8
Generating trainset 9
Generating trainset 10

In [27]:
%%time

import glob

df_list = []
for filename in glob.glob('trainset_*.csv'):
    df_ = pd.read_csv(filename)
    df_list.append(df_)
df = pd.concat(df_list)

CPU times: user 19.2 s, sys: 1.79 s, total: 21 s
Wall time: 21.7 s

In [1]:
import dask.dataframe as dd

In [21]:
%%time

df = dd.read_csv('trainset_*.csv')

CPU times: user 154 ms, sys: 58.6 ms, total: 212 ms
Wall time: 212 ms

In [29]:
%%time

df = dd.read_csv('trainset_*.csv').compute()

CPU times: user 45.1 s, sys: 5.09 s, total: 50.2 s
Wall time: 8.13 s

In [25]:
exec_graph = dd.read_csv('trainset_*.csv')
exec_graph.visualize(filename='graph.pdf')

In [2]:
Path = 'C:\\Users\\ayose\\GDrive\\floods_images\\Python\\pickle\\'
All_ScenePoints_described = dd.read_csv(Path+'All_ScenePoints_described.csv')

In [6]:
All_ScenePoints_described.head()

,Unnamed: 0,count,mean,std,min,10%,20%,30%,40%,50%,60%,70%,80%,90%,max
0,0,76.0,-0.001545,0.030032,-0.051133,-0.034426,-0.028664,-0.023482,-0.012266,-0.003549,0.004770,0.012648,0.018570,0.036756,0.107719
1,1,76.0,-0.008431,0.027935,-0.057113,-0.043672,-0.030060,-0.027135,-0.016849,-0.006965,-0.004027,0.003272,0.011845,0.024116,0.100450
2,2,76.0,-0.039397,0.028145,-0.085125,-0.068712,-0.064742,-0.057465,-0.050227,-0.039076,-0.035008,-0.031006,-0.022274,-0.007458,0.061214
3,3,77.0,-0.036969,0.029176,-0.081219,-0.068284,-0.064312,-0.056271,-0.047153,-0.038888,-0.029139,-0.024884,-0.017802,-0.008176,0.060820
4,4,76.0,-0.039285,0.031724,-0.089754,-0.072344,-0.065145,-0.061961,-0.056708,-0.038985,-0.032098,-0.024960,-0.018036,-0.009001,0.073647